<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

In [0]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

In [0]:
df = pd.read_csv(URL, header=None)

In [4]:
df.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [0]:
df = df.rename(columns = {
    0 :'party',
    1 :'handicapped-infants',
    2 :'water-project-cost-sharing',
    3 :'adoption-of-the-budget-resolution',
    4 :'physician-fee-freeze',
    5 :'el-salvador-aid',
    6 :'religious-groups-in-schools',
    7 :'anti-satellite-test-ban',
    8 :'aid-to-nicaraguan-contra',
    9 :'mx-missile',
    10 :'immigration',
    11 :'synfuels-corporation-cutback',
    12 :'education-spending',
    13 :'superfund-right-to-sue',
    14 :'crime',
    15 :'duty-free-exports',
    16 :'export-administration-act-south-africa'})

In [6]:
df.shape

(435, 17)

In [7]:
df.head()

        party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
df_nums = df.drop(['party'], axis=1)

In [0]:
df = df.replace({'?': np.nan, 'y': 1, 'n': 0})

In [10]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [0]:
rep = df.loc[df['party'] == 'republican']

In [0]:
rep_nums = rep.drop(['party'], axis=1)

In [13]:
rep_nums.shape

(168, 16)

In [14]:
rep_nums.head()

    handicapped-infants  ...  export-administration-act-south-africa
0                   0.0  ...                                     1.0
1                   0.0  ...                                     NaN
7                   0.0  ...                                     1.0
8                   0.0  ...                                     1.0
10                  0.0  ...                                     0.0

[5 rows x 16 columns]

In [0]:
dem = df.loc[df['party'] == 'democrat']

In [0]:
dem_nums = dem.drop(['party'], axis=1)

In [17]:
dem_nums.shape

(267, 16)

In [18]:
dem_nums.head()

   handicapped-infants  ...  export-administration-act-south-africa
2                  NaN  ...                                     0.0
3                  0.0  ...                                     1.0
4                  1.0  ...                                     1.0
5                  0.0  ...                                     1.0
6                  0.0  ...                                     1.0

[5 rows x 16 columns]

In [0]:
def testing123(control_nums, x_nums, y_nums):
  for col in control_nums.columns:
    template = (
        f"{col}\n"
        f"95% confidence interval (alpha = .05): {ttest_ind(x_nums[col], y_nums[col], nan_policy='omit').pvalue < 0.05}\n"
        f"99% confidence interval (alpha = .01): {ttest_ind(x_nums[col], y_nums[col], nan_policy='omit').pvalue < 0.01}\n"
        f"99.9% confidence interval (alpha = .001): {ttest_ind(x_nums[col], y_nums[col], nan_policy='omit').pvalue < 0.001}\n\n\n"
    )
    print(template)

In [45]:
testing123(df_nums, dem_nums, rep_nums)

handicapped-infants
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



water-project-cost-sharing
95% confidence interval (alpha = .05): False
99% confidence interval (alpha = .01): False
99.9% confidence interval (alpha = .001): False



adoption-of-the-budget-resolution
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



physician-fee-freeze
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



el-salvador-aid
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



religious-groups-in-schools
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



anti-satellite-test-ban
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



aid-to-nicaraguan-contra
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



mx-missile
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



immigration
95% confidence interval (alpha = .05): False
99% confidence interval (alpha = .01): False
99.9% confidence interval (alpha = .001): False



synfuels-corporation-cutback
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



education-spending
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



superfund-right-to-sue
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



crime
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



duty-free-exports
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True



export-administration-act-south-africa
95% confidence interval (alpha = .05): True
99% confidence interval (alpha = .01): True
99.9% confidence interval (alpha = .001): True